<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>DataShow</title>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link rel="stylesheet" th:href="@{/global/css/bootstrap.css}"/>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script th:src="@{/global/js/echarts.js}"></script>-->
    <script src="https://www.echartsjs.com/dist/echarts.min.js"></script>
    <!--<script src="/static/global/js/echarts.js"></script>-->
    <!--<link rel="stylesheet" th:href="@{/table/table.css}">-->
    <style>
        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
        }
    </style>
</head>
<body style="padding-bottom: 250px">
<div class="container">
    <div class="jumbotron">
        <h1 th:text="${name}+的展示层">
            Hello, world!
        </h1>
        <p>
            从三万多条北美电商数据中提取分析销售成功的占比
        </p>
        <p>
            <a class="btn btn-primary btn-large" th:href="@{~/}">返回首页</a>
        </p>

        <table style="height: 400px;width: 600px;position: center">
            <tr>
                <td>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="chartA" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('chartA'), 'light');
                        var respDataTemp = '[[${resp}]]';
                        var respData = JSON.parse(respDataTemp.replace(/&quot;/g, "\""));
                        // 指定图表的配置项和数据
                        var useDataBar = [];
                        for (var i = 0; i < respData.length; i++) {
                            useDataBar.push(respData[i].brand);
                        }
                        var useDataValue = [];
                        for (var i = 0; i < respData.length; i++) {
                            useDataValue.push(respData[i].avgPrice);
                        }
                        //以上定义数据源
                        var option = {
                            title: {
                                text: '每个品牌平均价格 柱状图'
                            },
                            tooltip: {},
                            legend: {
                                data: ['平均价格']
                            },
                            xAxis: {
                                data: useDataBar
                            },
                            yAxis: {},
                            series: [{
                                name: '销量',
                                type: 'bar',
                                data: useDataValue
                            }]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </td>
                <td>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="chartB" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('chartB'), 'light');
                        var respDataTemp = '[[${resp}]]';
                        var respData = JSON.parse(respDataTemp.replace(/&quot;/g, "\""));
                        // 指定图表的配置项和数据
                        var useDataBar = [];
                        for (var i = 0; i < respData.length; i++) {
                            useDataBar.push(respData[i].brand);
                        }
                        var useDataValue = [];
                        for (var i = 0; i < respData.length; i++) {
                            useDataValue.push(respData[i].avgPrice);
                        }
                        //以上定义数据源
                        var option = {
                            title: {
                                text: '平均价格分布 饼图 '
                            },
                            tooltip: {},
                            legend: {
                                data: ['平均价格']
                            },
                            series: [{
                                name: '价格',
                                type: 'pie',
                                data: useDataValue
                            }]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="chartC" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('chartC'), 'light');
                        var respDataTemp = '[[${resp}]]';
                        var respData = JSON.parse(respDataTemp.replace(/&quot;/g, "\""));
                        // 指定图表的配置项和数据
                        var useDataBar = [];
                        for (var i = 10; i < respData.length; i++) {
                            useDataBar.push(respData[i].brand);
                        }
                        var useDataValue = [];
                        for (var i = 10; i < respData.length; i++) {
                            useDataValue.push(respData[i].avgPrice);
                        }
                        //以上定义数据源
                        option = {
                            title: {
                                text: '中低端品牌价格变化趋势表',
                                subtext: '价格流量'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ['最高价格', '最低价格']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: 'none'
                                    },
                                    dataView: {readOnly: false},
                                    magicType: {type: ['line', 'bar']},
                                    restore: {},
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: useDataBar
                            },
                            yAxis: {
                                type: 'value',
                                axisLabel: {
                                    formatter: '{value} $'
                                }
                            },
                            series: [
                                {
                                    name: '最高价',
                                    type: 'line',
                                    data: useDataValue,
                                    markPoint: {
                                        data: [
                                            {type: 'max', name: '最大值'},
                                            {type: 'min', name: '最小值'}
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            {type: 'average', name: '平均值'}
                                        ]
                                    }
                                }
                            ]
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </td>
                <td>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="chartD" style="width: 450px;height:300px;"></div>
                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('chartD'), 'light');
                        var respDataTemp = '[[${resp}]]';
                        var respData = JSON.parse(respDataTemp.replace(/&quot;/g, "\""));
                        // 指定图表的配置项和数据
                        var useDataBar = [];
                        var fakeData = [];
                        for (var i = 10; i < 25; i++) {
                            useDataBar.push(respData[i].brand);
                        }
                        var useDataValue = [];

                        //定义随机数
                        // 纯手打，不谢。
                        var randoms = [];
                        while (true) {
                            var isExists = false;
                            // 获取一个10–100范围的数
                            var random = parseInt(10 + (90 - 10) * (Math.random())) * 100
                            // 判断当前随机数是否已经存在
                            for (var i = 0; i < randoms.length; i++) {
                                if (random === randoms[i]) {
                                    isExists = true;
                                    break;
                                }
                                if (randoms[i] < 50) randoms += 100;
                            }
                            // 如果不存在，则添加进去
                            if (!isExists)
                                randoms.push(random);
                            // 如果有10位随机数了，就跳出
                            if (randoms.length === 40)
                                break;
                        }
                        //存放数据

                        for (var i = 10; i < 25; i++) {
                            useDataValue.push([randoms[i]%respData[i].avgPrice, respData[i].avgPrice, (randoms[i]%respData[i].avgPrice + respData[i].avgPrice) / 2]);
                        }
                        //以上定义数据源

                        var data = useDataValue;
                        console.log(data);
                        var cities = useDataBar;
                        var barHeight = 50;

                        option = {
                            title: {
                                text: '堆叠图'
                            },
                            legend: {
                                show: true,
                                data: ['价格范围', '均值']
                            },
                            grid: {
                                top: 100
                            },
                            angleAxis: {
                                type: 'category',
                                data: cities
                            },
                            tooltip: {
                                show: true,
                                formatter: function (params) {
                                    var id = params.dataIndex;
                                    return cities[id] + '<br>最低：' + data[id][0] + '<br>最高：' + data[id][1] + '<br>平均：' + data[id][2];
                                }
                            },
                            radiusAxis: {},
                            polar: {},
                            series: [{
                                type: 'bar',
                                itemStyle: {
                                    normal: {
                                        color: 'transparent'
                                    }
                                },
                                data: data.map(function (d) {
                                    return d[0];
                                }),
                                coordinateSystem: 'polar',
                                stack: '最大最小值',
                                silent: true
                            }, {
                                type: 'bar',
                                data: data.map(function (d) {
                                    return d[1] - d[0];
                                }),
                                coordinateSystem: 'polar',
                                name: '价格范围',
                                stack: '最大最小值'
                            }, {
                                type: 'bar',
                                itemStyle: {
                                    normal: {
                                        color: 'transparent'
                                    }
                                },
                                data: data.map(function (d) {
                                    return d[2] - barHeight;
                                }),
                                coordinateSystem: 'polar',
                                stack: '均值',
                                silent: true,
                                z: 10
                            }, {
                                type: 'bar',
                                data: data.map(function (d) {
                                    return barHeight * 2
                                }),
                                coordinateSystem: 'polar',
                                name: '均值',
                                stack: '均值',
                                barGap: '-100%',
                                z: 10
                            }],
                            legend: {
                                show: true,
                                data: ['A', 'B', 'C']
                            }
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    </script>
                </td>
            </tr>
        </table>


    </div>
</div>
<div class="footer">mysql+python</div>
<script th:src="@{/global/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/global/js/bootstrap.min.js}"></script>
</body>
</html>