<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://39.108.159.175/MyTest?characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0800</property>

        <!-- 可以将向数据库发送的SQL语句显示出控制台 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 格式化SQL语句 -->
        <property name="hibernate.format_sql">true</property>

        <!-- hibernate的方言 因为不同数据库 sql细节不同-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--
            自动建表 auto schema export
            ceate:每次都重新创建表且会覆盖，用于测试
            create-drpo:自动创建表，每次运行结束 删除表 用于测试
            update: 自动生成表，有则不生成，表变化可以自动更新表 可以用于生产环境
            validate  校验，不自动生成表，表和属性是否相符 失败抛异常
        -->
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- 配置hibernate的映射文件所在的位置 -->
        <mapping resource="Customer.hbm.xml" />

        <!--指定session与线程绑定-->
        <property name="hibernate.current_session_context_class">thread</property>

        <!--指定hibernate隔离级别
            1|2|4|8
            0001 1 读为提交
            0010 2  读已提交
            0100 4 可重复读
            1000 8 串行化
        -->
        <property name="hibernate.connection.isolation">4</property>

    </session-factory>
</hibernate-configuration>