<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringHelloWrold:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringHelloWrold_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringHelloWrold/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringHelloWrold" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>